*
h1
{
	font:	Engravers MTariel;
	font-size: 80;
	color: black;
	text-align:	center;
	
}
h2
{
	font:	Engravers MTariel;
	font-size: 25;
	color: black;
	text-align:	center;
	
}
#p1
{
	font:	Ariel black;
	font-size: 40;
	color: black;
	text-align:	center;
}

#p2
{
	font:	ariel;
	font-size: 24;
	color: black;
	text-align:	center;
}
#productheading
{
	font:	Engravers MTariel;
	font-size: 20;
	color: black;
	text-align:	center;
}