*
{
	box-sizing: border-box;
}

header 
{
	background-color: #44DCD9;
	height: 100px;
	width: 100%;
	margin-top: 10px;
	border-radius: 20px;
}

#subheading
{
	background-color: #fa8989;
	border-radius: 20px;
	height: 30px;
	width: 100%;
}

nav 
{
	background-color: #E8E1EE;
	height: 60px;
	width: 100%;
	margin-top: 10px;
	border-radius: 20px;
}

section
{
	background-color: #fa8989;
	display: grid;
	column-gap: 2%;
	grid-template-columns:	32% 32%	32%;
	padding: 10px;
	border-radius: 20px;
	height: 200px;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	position: releative;
}

/* the code below for article will control the divtags found in article to be displaye in a flexgrid */
article 
{
	display: grid;
	column-gap: 2%;
	grid-template-columns:	32% 32%	32%;
	background-color: #44DCD9;
	padding: 10px;
	border-radius: 20px;
	height: Auto;
	margin-top: 10px;
	position: releative;
	
}

/* the box below control all veriables for all
article and sections div tags*/

#_box_01, #_box_02, #_box_03, #_box_04, #_box_05, #_box_06
{
	background-color: rgba(255, 255, 255, 0.8);
	border: 1px solid rgba(0, 0, 0, 0.8);
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	width: 100%;
	position: releative;
}

#_box_01, #_box_02, #_box_03
{
	height:	auto%;
	
}
#_box_04, #_box_05, #_box_06
{
	height: 180px;
}


aside 
{
	background-color: #EA2E06;
	height: 200px;
	width: 100%;
	margin-top: 10px;
	border-radius: 20px;
	position: relative;
}

footer 
{
	background-color: #9E8C88;
	height: 75;
	width: 100%;
	margin-top: 10px;
	border-radius: 20px;
	position: relative;
}

/* for control of the webpagewhen viewed on smaller
displays such as phones or tablets*/

@media (max-width: 600px)
{
	nav
	{
		Width: 100%;
		height: auto;
	}
	
	
	article
	{
		Width: 100%;
		height: auto;
	}
	
	section
	{
		width:	100%;
		height:	auto;
	}
	
	#_box_01, #_box_02, #_box_03
	{
		Width: 100%;
		height: auto;
	}

	
	#_box_04, #_box_05, #_box_06
	{
		Width: 100%;
		height: Auto;
	}
	aside, footer
	{
		Width: 100%;
		height: auto;
	}
	
	
}